body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1f3a;
    color: white;
    text-align: center;
}

header {
    padding: 30px 15px 10px;
}

h1 {
    margin: 0;
    font-size: 26px;
}

.subtitle {
    opacity: 0.8;
    margin-top: 8px;
    font-size: 14px;
}

/*.hero {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-top: 15px;
}*/

/*.hero {
  width: 100%;
  max-width: 800px;
  height: 220px;

  margin: auto;

  background: url('../images/boat.jpg') center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;
  
  position: relative;
}*/
.hero {
  height: 40vh;
  min-height: 220px;
  max-height: 450px;
  background: url('../images/boat.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero h1 img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.container {
    padding: 20px 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 12px auto;
    padding: 16px;
    width: 90%;
    max-width: 320px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.03);
}

.btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 12px;
}

.facebook { background: #1877f2; }
.instagram { background: #e1306c; }
.whatsapp { background: #25d366; }
.reservation { background: #ffb000; color: black; }

footer {
    margin-top: 25px;
    font-size: 12px;
    opacity: 0.6;
    padding-bottom: 20px;
}

/* =========================
   CARROUSEL
   ========================= */

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    overflow: hidden;
    background: #111;
    border-radius: 12px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-track img {
    flex: 0 0 100%;
    width: 100%;
    height: 450px;
    object-fit: contain;
}